<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Git Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B74B92FB1DF51A3D0051837E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B74B930F1DF51A3E0051837E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B74B931A1DF51A3E0051837E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
